/*------------------ ROOT ------------------*/
:root{
    font-size: 15px;
    --whiteBg: white;
    --blackBg: black;
    --grayBg: rgb(238, 238, 238);
    --UnsetBg: blue;
    --txtColD: black;
    --txtColL: White;
    --textBigSize: 25px;
    --textMedSize: 20px;
    --textSmolSize: 15px;
    --shadowValue: 0px 10px 10px rgba(0, 0, 0, 0.103);
    --shadowRightVal: 10px 0 5px -5px rgba(0, 0, 0, 0.103);
    --borderValue: 1px rgb(233, 233, 233) solid;
    --borderValueWhite: 1px white solid;
    --borderValueBlack: 1px black solid;
    --borderValueUnset: 1px blue solid;

    /* FOR INSIDE CONTENTS */
    --bRad: 0px;
    --tAl: left;
    --pad: 10px;
    --mar: 0px;
    --W: 100%;
    --H: 100%;
    --bCol: rgb(233, 233, 233);
    --pos: relative;
    --scale: 1;
    --HW: 50px;
    --BGP: white;
    --BGPA: #3d3d3d;
    --BGC: black;
    --BGCA: white;
    /* FOR INSIDE CONTENTS */

    /* FOR DISPLAY FLEX/GRID*/
    --bWidth: 100%;   
    --cWidth: 100%;
    /* FOR DISPLAY FLEX/GRID*/
}
/*------------------ BODY ------------------*/

/*------------------ BODY ------------------*/
body{
    background-color: var(--grayBg);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}.middle_body{
    display: flex;
    position: relative;
    overflow: auto;
    width: 100%;
    height: 100%;
    justify-content: center;
}
/*------------------ BODY ------------------*/

/*------------------ FORM ------------------*/
form{
    margin: 0px;
}
/*------------------ FORM ------------------*/


/*------------------ FLEX//GRID ------------------*/
[class*="display_type_"]{
    position: var(--pos);
    width: var(--bWidth);
    align-items: center;
    box-sizing: border-box;
}[class*="display_type_flex"].child_width_adjust > div{
    width: var(--cWidth);
}.display_type_flex_row{
    display: flex;
    flex-direction: row;
}.display_type_flex_column{
    display: flex;
    flex-direction: column;
}.display_type_grid_column{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    position: var(--pos);
    grid-auto-rows: min-content;
    width: var(--W);
}
/*------------------ FLEX//GRID ------------------*/

/*------------------ TEXT ------------------*/
h1,h2,h3,h4,p{
    text-align: var(--tAl);
    padding: var(--pad);
    margin: var(--mar);
    color: var(--txtColD);
}[class*="cont_border_"]{
    border-color: var(--bCol) !important;
    border-radius: var(--bRad);
}.cont_border_top{
    border-bottom: var(--borderValue);
}.cont_border_right{
    border-right: var(--borderValue);
}.cont_border_bot{
    border-bottom: var(--borderValue);
}.cont_border_left{
    border-left: var(--borderValue);
}a{
    text-align: var(--tAl);
    color: var(--txtColD);
    text-decoration: none;
}
/*------------------ TEXT ------------------*/

/*------------------ MEDIA VIEWER ------------------*/
[class*="picture_holder"]{
    object-fit: cover;
    object-position: center;
    width: 100%;
    border-radius: var(--bRad);
}.picture_holder{
    height: var(--H);
}.picture_holder_aspect{
    aspect-ratio: 16 / 9;
}
/*------------------ MEDIA VIEWER ------------------*/


/*------------------ HEADER FOOTER ------------------*/
header{
    display: flex;
    align-items: center;
    padding: 0px 10px;
    box-sizing: border-box;
}header > ul{
    display: flex;
    flex: 1;
    margin: 0px;
    padding: 0px 60px 0px 0px;
    justify-content: center;
}
/*------------------ HEADER FOOTER ------------------*/

/*------------------ DIV STYLE ------------------*/
[class*="body_box"]{
    margin: 10px;
    display: flex;
    flex-direction: column;
    border-radius: var(--bRad);
    box-sizing: border-box;
}
.body_box_bg{
    background-color: var(--whiteBg);
}.body_box_bg_shadow{
    background-color: var(--whiteBg);
    box-shadow: var(--shadowValue);
}.body_box_border{
    border: var(--borderValueWhite);
}.body_box_bg_border{
    background-color: var(--whiteBg);
    border: var(--borderValueWhite);
}.body_box_bg_border_shadow{
    background-color: var(--whiteBg);
    border: var(--borderValueWhite);
    box-shadow: var(--shadowValue);
}
/*------------------ DIV STYLE ------------------*/

/* --------------BUTTON STYLE-------------- */
[class*="btn_"]{
    display: flex;
    position: var(--pos);
    align-items: center;
    text-align: center;
    justify-content: center;
    border: none;
    cursor: pointer;
}[class*="btn_"]:hover{
    transition: all 150ms ease-in-out;
}

.btn_bg{
    background-color: var(--whiteBg);
    color: var(--txtColD);
}.btn_bg:hover{
    background-color: var(--blackBg);
    color: var(--txtColL);
}.btn_bg.active{
    background-color: var(--blackBg);
    color: var(--txtColL);
}

.btn_underLine{
    background-color: none;
    color: var(--txtColD);
}.btn_underLine:hover{
    border-bottom: 1px solid var(--txtColD);
}.btn_underLine.active{
    border-bottom: 1px solid var(--txtColD);
}

/* ~~~~~~~~~~~ FOR ICONS ~~~~~~~~~~~ */
[id*="icon_check_"]{
    display: none !important;
}[class*="label_icon_"]{
    padding: 0px !important;
    margin: var(--mar) !important;
}[class*="label_icon_"]:hover{
    cursor: pointer;
    filter: brightness(95%);
    transition: 150ms all ease-in-out;
}[class*="icn_"]{
    display: flex !important;
    align-items: center !important;
    text-align: center;
    justify-content: center !important;
    position: var(--pos);
    border-radius: var(--bRad);
    background-color: var(--BGP);
    width: var(--HW) !important;
    height: var(--HW) !important;
    padding: calc(var(--HW) * 0.33) !important;
    flex-direction: column;
    transition: 200ms all ease-in-out;
}[class*="icn_"] div{
    transition: 200ms all ease-in-out;
    margin: 2.5px;
    padding: 0px !important;
}[class*="icn_"] svg path{
    transition: 200ms all ease-in-out;
    stroke: black;
    stroke-width: 0;
}[class*="icn_"] svg{
    transition: 200ms all ease-in-out;
    width: var(--HW) !important;
    height: var(--HW) !important;
}

[id*="icon_check_"]:checked + [class*="icn_"]{
    background-color: var(--BGPA);
}[id*="icon_check_"]:not(:checked) + [class*="icn_"]{
    background-color: var(--BGP);
}[id*="icon_check_"]:checked + [class*="icn_"] svg path{
    fill: var(--BGCA);
}[id*="icon_check_"]:not(:checked) + [class*="icn_"] svg path{
    fill: var(--BGC);
}

/* FOR TOGGLE MENU */
[class*="icn_menu"] path:nth-child(1){
    transform-origin: 50% 21%;
}[class*="icn_menu"] path:nth-child(3){
    transform-origin: 50% 79%;
}[id*="icon_check_"]:checked + .icn_menu path:nth-child(2){
    fill: transparent;
}[id*="icon_check_"]:checked + .icn_menu path:nth-child(1){
    transform: translateY(29%) rotateZ(45deg) scaleX(1.15);
}[id*="icon_check_"]:checked + .icn_menu path:nth-child(3){
    transform: translateY(-29%) rotateZ(-45deg) scaleX(1.15);
}
/* FOR TOGGLE MENU */

/* FOR TOGGLE PASSWORD */
[class*="icn_pass"] path:nth-child(1){
    transform-origin: 50% 45%;
}[id*="icon_check_"]:checked + .icn_pass path:nth-child(1){
    transform: rotateZ(-55deg);
}
/* FOR TOGGLE PASSWORD */

/* FOR TOGGLE MESSAGE */
[id*="icon_check_"]:checked + .icn_mess path:nth-child(1){
    transform: translateY(-15%);
}[id*="icon_check_"]:checked + .icn_mess path:nth-child(2){
    transform: translateY(15%);
}
/* FOR TOGGLE MESSAGE */

/* FOR TOGGLE BELL */
[id*="icon_check_"]:checked + .icn_bell path:nth-child(2){
    transform: translateX(25%);
}[id*="icon_check_"]:checked + .icn_bell svg{
    transform: rotateZ(35deg);
}
/* FOR TOGGLE BELL */

/* FOR NON-TOGGLE PROFILE */
[class*="icn_prof"] div{
    --bRadorss: 7px 5px;
    flex: 1;
    margin: 0;
}[class*="icn_prof"] div:nth-of-type(1){
    border-radius: 50px;
    margin-bottom: 7%;
    width: 45%;
}[class*="icn_prof"] div:nth-of-type(2){
    flex: 1.2;
    width: 100%;
    border-radius: 100000px 100000px 0px 0px;
}
/* FOR NON-TOGGLE PROFILE */
/* ~~~~~~~~~~~ FOR ICONS ~~~~~~~~~~~ */
/* --------------BUTTON STYLE-------------- */

@media (max-width: 1100px){
    .grid_adjust{
        width: 100% !important;
    }.flex_adjust{
        flex-direction: column;
    }
}@media (max-width: 900px){
}@media (max-width: 600px){
}@media (max-width: 450px){
}