:root{
    --grayBg: rgb(20, 18, 29) !important;
    --borderValueWhite: solid 2px rgb(243, 135, 135) !important;
    --textColorBlack: white !important;
    --whiteBg: rgb(32, 29, 46) !important;
    --shadowValue: 0px 10px 10px rgba(0, 0, 0, 0.192) !important;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.img_pfp{
    width: 250px;
    border-radius: 10px; 
    box-sizing: border-box;
}

@media (max-width: 670px){
    .profileMedia{
        flex-direction: column-reverse;
    }
    .img_pfp{
        width: 100%;
        aspect-ratio: 1/1;
    }
}